*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header #flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60%;
    padding: 25px;
    border: 1px solid black;
}

.input_field{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 0;
}

#input{
    width: 22em;
    padding: 0.8em;
    border-radius: 5px;
    outline: none;
}

#add{
    padding: 0em 0.8em;
    margin-left: 10px;
}

.item_list{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 1.5em;
}

.item{
    /* border-bottom: 2px solid #800080; */
    outline: none;
    border: none;
    width: 15em;
    padding-left: 0.3em;
    padding-bottom: 0.15em;
}

.edit{
    padding: 0 0.8em;
    margin-left: 0.8em;
}

.remove{
    padding: 0 0.8em;
    margin-left: 0.8em;
}